# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Environment Variables
.env
.env.*
!.env.example

# Logs
logs/
*.log

# IDE
.idea/
.vscode/
*.swp
.DS_Store

# OS
.DS_Store
Thumbs.db
